# systemctl --user enable $(pwd)/redditbot.service
[Unit]
Description=Reddit RSS Bot Service

[Service]
Type=oneshot
# !! Change these:
WorkingDirectory=/CHANGEME
ExecStart=/CHANGEME/redditrssbot

# Examples:
#WorkingDirectory=/home/raspi/redditbot
#ExecStart=/home/raspi/redditbot/redditrssbot

[Install]
WantedBy=timers.target
