# systemctl --user enable $(pwd)/redditbot.timer
# systemctl --user start redditbot.timer
# systemctl --user list-timers
[Unit]
Description=Reddit RSS Bot Timer

[Timer]
# Wait boot
OnBootSec=10min
# run every X duration
# Do not run too often or the bot WILL be banned and ratelimited
OnUnitActiveSec=1h
Unit=redditbot.service

[Install]
WantedBy=timers.target
